@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  src: url("../assets/fonts/Myriad_Pro/MYRIADPROREGULAR.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  src: url("../assets/fonts/Myriad_Pro_Bold/MYRIADPROBOLD.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro Cond";
  font-style: normal;
  src: url("../assets/fonts/Myriad_Pro_Cond/MYRIADPROCOND.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro Bold Cond";
  font-style: normal;
  src: url("../assets/fonts/Myriad_Pro_Bold_Cond/MYRIADPROBOLDCOND.ttf") format("truetype");
}