page-home {
  .contenedor {
    display: flex;
    height: 100%;
    button {
      height: 12.6rem;
      font-size: 4.4rem;
      margin: auto;
      position: relative;
      display: block;
    }
  }
  .iconoHeader {
    width: 30px;
  }
  .toolbar-content-md {
      order: 4;
  }
}
